<?xml version='1.0' encoding='utf-8'?>
<widget id="com.EcjtuNet.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>日新网手机客户端</name>
    <description>
        日新网手机客户端
    </description>
    <author email="wtbhk@live.cn" href="http://yiwei.li">
        EcjtuNet
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
