@charset "utf-8";

.indexAnim {
    -webkit-animation: indexList 1.5s linear;
    animation: indexList 1.5s linear;
}
@-webkit-keyframes indexList {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}




@keyframes indexList {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}

.tempAnim {
    -webkit-animation: tempAnim 0.5s linear;
    animation: tempAnim 0.5s linear;
    min-height: 200px;
}
@-webkit-keyframes tempAnim {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}




@keyframes tempAnim {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0;
    }
}


.headerAnim {
    -webkit-animation: headerAnim 0.5s linear;
    animation: headerAnim 0.5s linear;
    margin-top: -80%;
}
@-webkit-keyframes headerAnim {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -80%;
    }
}
@keyframes headerAnim {
    from {
        margin-top: 0;
    }
    to {
        margin-top: -80%;
    }
}


.contentAnim {
    -webkit-animation: indexList 0.5s linear;
    animation: indexList 0.5s linear;
    margin-top: 0 !important;
    
}
@-webkit-keyframes indexList {
    from {
        margin-top: 62.45%;
    }
    to {
        margin-top: 0;
        opacity: 0;
    }
}



/* Standard syntax */
@keyframes indexList {
    from {
        margin-top: 62.45%;
    }
    to {
        margin-top: 0;
        opacity: 0;
    }
}
